<header>
  <div class="header-container">
    <div class="logo">
      <img src="static/img/logo_aceita_bitcoin_1200_290.png" alt="Logo Aceita Bitcoin?" style="width: 200px; height: auto; align-self: center;">
    </div>
    <nav>
      <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre nós</a></li>
        <li><a href="/carteiras">Carteiras Bitcoin</a></li>
        <li><a href="/cadastro">Cadastre seu estabelecimento</a></li>
        <li><a href="/materiais">Materiais</a></li>
        <li><a href="/estabelecimentos">Estabelecimentos</a></li>
      </ul>
    </nav>
  </div>
</header>